@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Movies</h2>

@Html.ActionLink("New Movie", "New", null, new { @class="btn btn-info" }) 


@if(Model.Count() < 1)
{
    <h4>We have not started stocking movies yet!</h4>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td>Movie</td>
                <td>Genre</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>@Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.Id}, null )</td>
                    <td>@movie.Genre.Name</td>
                </tr>
            }
        </tbody>
    </table>
}





